__pycache__
*.pyc
*.sqlite3
secrets.py
secrets.env
.DS_Store
.vscode
rundata/*
uploads/*
!uploads/.gitkeep
tables.txt
Commands.md
Docs2.md
Projects.md
iCount Primary Analysis.md
prometheus
.coverage
*.sql
iMaps Docs.md
populate_local_data_files.py
*_from_sql.py
load_collections.py
load_samples.py
collections.csv
peka/create_*.py
fastq/*
dump.txt
summarise.py
load.py
build.py
pull.py
commands.py
locations.py
get_sample_lists.py
samples.py
demult/
demultiplex.dat
Docs.md
backups
*.sql.gz
*.xlsx
json/*
emails.dat
trim.py
*nextflow*
commands/*