__pycache__
*.pyc
*.sqlite3
secrets.py
.DS_Store
.vscode
uploads/*
!uploads/.gitkeep
tables.txt
.coverage
*.sql
iMaps Docs.md
*_from_sql.py
load_collections.py
load_samples.py
collections.csv
peka/create_*.py
dump.txt
summarise.py
load.py
build.py
pull.py
commands.py
backups
*.sql.gz
*.xlsx
json/*
emails.dat
trim.py